body {
  background: $bg-color;
  color: $body-color;
  font-family: $body-font;
  font-size: 0.8rem;
  text-align: center;
}
a {
  color: $link-color;
  text-decoration:none;
}
#logo{
  display: inline-block;
  text-align: left;
}
l{color: $line-color;}
h{color: $header-color;}
