$bg-color: #111;
$body-color: #ab28bb; // fucsia
$link-color: #5fd9bd; // blue
$line-color: #9281b9; // purple
$header-color: #bcf225; // lime

$body-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
